<div class="container-fluid">
    <!-- Begin page heading -->
    <h1 class="page-heading">Ofrecimientos
        <small>Busca aquello que estas necesitando y pidelo!</small>
    </h1>
    <!-- End page heading -->

    <!-- Begin breadcrumb -->
    <ol class="breadcrumb default square rsaquo sm">
        <li>
            <a href="index.html"><i class="fa fa-home"></i></a>
        </li>
        <li class="active">Ofrecimientos</li>
    </ol>
    <!-- End breadcrumb -->
    <div class="row">
        <div class="col-md-4" ng-repeat="offer in offers">
            <div class="the-box full no-border property-card">
                <img ng-src="{{offer.image[0].path}}" width="250px" height="280px" alt="Image">
                <div class="the-box no-margin no-border bg-success">
                    <h5><span class="glyphicon glyphicon-gift"></span> {{offer.title}}</h5>
                    <p>{{offer.object.description}}</p>
                    <button ui-sref="web.offerDetail({id: offer.id})" class="btn btn-success btn-block">Ver detalle</button>
                    <button class="btn btn-danger btn-block" ng-if="offer.isOwner == '0'">Pedir!</button>
                    <button ng-if="offer.isFavorite == '0' && offer.isOwner == '0'" ng-click="setFavorite(offer.id)" class="btn btn-warning btn-block"><span class="glyphicon glyphicon-star"></span> Poner en Favoritos </button>
                    <button ng-if="offer.isFavorite == '1' && offer.isOwner == '0'" ng-click="unsetFavorite(offer.id)" class="btn btn-warning btn-block"><span class="glyphicon glyphicon-star-empty"></span> Sacar de Favoritos </button>
                </div>
            </div>
        </div>
    </div>
