<div class="container-fluid">
    <!-- Begin page heading -->
    <h1 class="page-heading">Ofrecimientos
        <small>Busca aquello que estas necesitando y pidelo!</small>
    </h1>
    <!-- End page heading -->

    <!-- Begin breadcrumb -->
    <ol class="breadcrumb default square rsaquo sm">
        <li>
            <a href="index.html"><i class="fa fa-home"></i></a>
        </li>
        <li class="active">Ofrecimientos</li>
    </ol>
    <!-- End breadcrumb -->

    <div class="container-masonry">
        <ol>
            <li class="item-masonry" ng-repeat="offer in offers">
                <div class="the-box no-border full store-item text-center mansory-inner">
                    
                    <img src="{{offer.image[0].path}}" class="item-image" alt="Image" ui-sref="web.offerDetail({id: offer.id})">

                    <div class="the-box bg-success no-margin no-border item-des">
                        <p class="text-success">
                            Cantidad: <strong>{{offer.quantity}}</strong>
                        </p>

                        <h3><a class="bolded" ui-sref="web.offerDetail({id: offer.id})">{{offer.title}}</a></h3>
                        
                        <p>{{offer.description}}</p>
                        
                        <p>
                            <a href ng-click="toggleFavorite()" title="Favorito">
                                <i class="glyphicon glyphicon-heart"  ng-class="{'text-warning': offer.isFavorite == '1'}"></i>
                            </a>
                        </p>

                        <div class="btn-group" ng-if="offer.isOwner == '0'">
                            <button class="btn btn-danger " ng-if="offer.isOwner == '0'">Lo necesito</button>
                        </div>
                    </div>
                </div>
            </li>
        </ol>
    </div>