<div class="panel wizard with-nav-tabs panel-success panel-no-border" style="margin:20px 0;">
    <div class="panel-heading">
        <ul class="nav nav-tabs">
            <li ng-class="{ active: flow.step == 0, completed: flow.step > 0}" ><a href="javascript:return false;" data-toggle="tab"><i class="fa fa-users"></i> Informacion de la publicación</a>
            </li>
            <li ng-class="{ active: flow.step == 1, completed: flow.step > 1 }"><a href="javascript:return false;" data-toggle="tab"><i class="fa fa-users"></i> Confirma tus datos</a>
            </li>
            <li ng-class="{ active: flow.step == 2, completed: flow.step > 2 }"><a href="javascript:return false;" data-toggle="tab"><i class="fa fa-check"></i> Fin</a>
            </li>
        </ul>
    </div>

    <div id="panel-collapse-1" class="collapse in">
        <div class="tab-content">

            <div class="tab-pane fade" ng-class="{active: flow.step == 0, in: flow.step == 0}" id="wizard-1-step1">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <h4 class="small-heading">{{user.name}}, haz dicho que necesitas esto?</h4>
                            
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="alert alert-info alert-bold-border square fade in">
                                        <strong>Recuerda!</strong> Otras personas con menores posibilidades podrían necesitarlo también.
                                        <a href="#fakelink" class="alert-link"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <img class="img-thumbnail" src="{{offer.image[0].path}}" alt="{{offer.object.description}}"/>
                                </div>
                            
                                <div class="col-sm-6">
                                    <h3>{{offer.title}}</h3>
                                    <p>
                                        <small>{{offer.description}}</small>
                                    </p>
                                    <p>
                                        <span class="badge badge-default"> 1 unidad</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-right">
                    <div class="row">
                        <div class="col-sm-6 text-right">
                            <a href="#/ofrecimiento-detalle/{{offer.id}}" class="btn btn-warning PrevStep"><i class="fa fa-angle-left"></i> Volver</a>
                        </div>
                        <div class="col-sm-6 text-left">
                            <a class="btn btn-warning NextStep" data-ng-click="flow.toNextStep()">Si, lo necesito! <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="tab-pane fade" ng-class="{active: flow.step == 1, in: flow.step == 1}" id="wizard-1-step2">
                <div class="panel-body">
                    <div class="row">

                        <div class="col-sm-6">
                            <h4 class="small-heading more-margin-bottom">Confirma tus datos</h4>
                            <form role="form">
                                <div class="form-group">
                                    <label>Full name</label>
                                    <input type="text" class="form-control">
                                    <p class="help-block">Middle name not required</p>
                                </div>
                                <div class="form-group">
                                    <label>Email address</label>
                                    <input type="email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Phone</label>
                                    <input type="text" class="form-control phone_us_masking" placeholder="(000) 000-0000">
                                </div>
                                <div class="form-group">
                                    <label>Address</label>
                                    <textarea class="form-control" style="height: 100px;"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Country</label>
                                    <select class="form-control" tabindex="2">
                                        <option value="United States">United States</option>
                                        <option value="United Kingdom">United Kingdom</option>
                                        <option value="Afghanistan">Afghanistan</option>
                                        <option value="Aland Islands">Aland Islands</option>
                                        <option value="Albania">Albania</option>
                                        <option value="Algeria">Algeria</option>
                                        <option value="American Samoa">American Samoa</option>
                                        <option value="Andorra">Andorra</option>
                                        <option value="Angola">Angola</option>
                                        <option value="Anguilla">Anguilla</option>
                                        <option value="Antarctica">Antarctica</option>
                                        <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-6">
                            <h4 class="small-heading more-margin-bottom">USE MY ACCOUNT INFORMATION</h4>
                            <form role="form">
                                <div class="form-group">
                                    <label class="control-label">Full name</label>
                                    <div>
                                        <p class="form-control-static">Paris Hawker</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <div>
                                        <p class="form-control-static">email@example.com</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Phone</label>
                                    <div>
                                        <p class="form-control-static">+61 1234546 78</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Address</label>
                                    <div>
                                        <address>
                                            <strong>Twitter, Inc.</strong>
                                            <br>795 Folsom Ave, Suite 600
                                            <br>San Francisco, CA 94107
                                        </address>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Post code</label>
                                    <div>
                                        <p class="form-control-static"><a href="#fakelink">12345678</a>
                                        </p>
                                    </div>
                                </div>
                            </form>
                            <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Use it</button>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-right">
                    <div class="row">
                        <div class="col-sm-6 text-right">
                            <a class="btn btn-warning PrevStep" data-ng-click="flow.toPrevStep()"><i class="fa fa-angle-left"></i> Volver</a>
                        </div>
                        <div class="col-sm-6 text-left">
                            <a class="btn btn-warning NextStep" data-ng-click="flow.toNextStep()">Continuar! <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="tab-pane fade" ng-class="{active: flow.step == 2, in: flow.step == 2}" id="wizard-1-step3">
                <div class="panel-body">
                    <h4 class="small-heading more-margin-bottom">Eso es todo!</h4>
                    <div class="alert alert-warning alert-block fade in alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <strong>NOTE!</strong>Please check your order before submit
                    </div>
                    <div class="table-responsive">
                        <table class="table table-th-block table-striped table-dark">
                            <thead>
                                <tr>
                                    <th style="width: 100px">ID</th>
                                    <th>Product</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Qty</th>
                                    <th>Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>#001</td>
                                    <td>
                                        <img src="assets/img/shop/img-shop.jpg" style="width: 100px;" alt="Image">
                                    </td>
                                    <td>
                                        <strong>Product name</strong>
                                    </td>
                                    <td>
                                        <strong class="text-danger">&#36; 50.00</strong>
                                    </td>
                                    <td>1</td>
                                    <td class="text-right">&#36; 50.00</td>
                                </tr>
                                <tr>
                                    <td>#002</td>
                                    <td>
                                        <img src="assets/img/shop/img-shop.jpg" style="width: 100px;" alt="Image">
                                    </td>
                                    <td>
                                        <strong>Product name</strong>
                                    </td>
                                    <td>
                                        <strong class="text-danger">&#36; 50.00</strong>
                                    </td>
                                    <td>1</td>
                                    <td class="text-right">&#36; 50.00</td>
                                </tr>
                                <tr>
                                    <td>#003</td>
                                    <td>
                                        <img src="assets/img/shop/img-shop.jpg" style="width: 100px;" alt="Image">
                                    </td>
                                    <td>
                                        <strong>Product name</strong>
                                    </td>
                                    <td>
                                        <strong class="text-danger">&#36; 50.00</strong>
                                    </td>
                                    <td>1</td>
                                    <td class="text-right">&#36; 50.00</td>
                                </tr>
                                <tr class="success">
                                    <td colspan="5" class="text-right">TOTAL</td>
                                    <td class="text-right">&#36; 150.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <hr />

                    <div class="row">
                        <div class="col-sm-6">
                            <h4 class="small-heading more-margin-bottom">PAYMENT</h4>
                            <form role="form">
                                <div class="form-group">
                                    <label class="control-label">Payment method</label>
                                    <div>
                                        <p class="form-control-static">Paypal (someone@example.com)</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Shipping fees</label>
                                    <div>
                                        <p class="form-control-static">&#36; 15.00</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Total order</label>
                                    <div>
                                        <p class="form-control-static">&#36; 150.00</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Grand total</label>
                                    <div>
                                        <p class="form-control-static text-danger">&#36; 165.00</p>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-6">
                            <h4 class="small-heading more-margin-bottom">SHIPPING ADDRESS</h4>
                            <form role="form">
                                <div class="form-group">
                                    <label class="control-label">Full name</label>
                                    <div>
                                        <p class="form-control-static">Paris Hawker</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <div>
                                        <p class="form-control-static">email@example.com</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Phone</label>
                                    <div>
                                        <p class="form-control-static">+61 1234546 78</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Address</label>
                                    <div>
                                        <address>
                                            <strong>Twitter, Inc.</strong>
                                            <br>795 Folsom Ave, Suite 600
                                            <br>San Francisco, CA 94107
                                        </address>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Post code</label>
                                    <div>
                                        <p class="form-control-static"><a href="#fakelink">12345678</a>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <div class="panel-footer text-right">
                    <div class="row">
                        <div class="col-sm-6 text-right">
                            <a class="btn btn-warning PrevStep" data-ng-click="flow.toPrevStep()"><i class="fa fa-angle-left"></i> Volver</a>
                        </div>
                        <div class="col-sm-6 text-left">
                            <a class="btn btn-warning NextStep" data-ng-click="flow.toNextStep()">Finalizar <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" ng-class="{active: flow.step == 3, in: flow.step == 3}" id="wizard-1-step4">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h4 class="small-heading more-margin-bottom">Felicitaciones! haz finalizado el pedido.</h4>
                            <a href="#">Ir al home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
