
<!-- Begin page heading -->
<h1 class="page-heading">Pedidos
	<small>Contanos lo que necesitas</small>
</h1>
<!-- End page heading -->

<!-- Begin breadcrumb -->
<ol class="breadcrumb default square rsaquo sm">
	<li>
		<a href="index.html"><i class="fa fa-home"></i></a>
	</li>
	<li class="active">Pedidos</li>
</ol>
<!-- End breadcrumb -->

<div class="the-box no-border">
	<form ng-submit="createRequest()">
		<div class="row">
			<div class="col-sm-8">
				<div class="form-group">
					<input type="text" class="form-control input-lg" ng-model="request.title" placeholder="Un titulo para la publicación">
				</div>
				<div class="form-group">
					<textarea class="form-control input-lg" ng-model="request.description" rows="20">Un lugar para que te expreses..</textarea>
				</div>
			</div><!-- /.col-sm-8 -->
			<div class="col-sm-4">
				<select ng-model="mySubcategory" ng-options="subcategory.description group by subcategory.category.description for subcategory in subcategories">
				  </select><br/>

				<div class="form-group">
					<label>Fecha de expiración</label>
					<div class="row">
						<div class="col-xs-6">
							<div style="display:inline-block;">
								<p class="input-group">
									<input type="text" datepicker-popup="dd/MM/yyyy" class="form-control" ng-model="request.expirationDate" show-weeks="false" is-open="opened" date-disabled="disabled(date, mode)" ng-required="true" show-button-bar="false"/>
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="open($event)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</p>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label>Un padrino para la publicación</label>
						<input type="text" class="form-control" placeholder="@ejemplo">
					</div>
					<div class="form-group">
						<label>Imagen</label>
						<div class="input-group">
							<input type="text" class="form-control" readonly>
							<span class="input-group-btn">
								<span class="btn btn-default btn-file">
									Browse&hellip; <input type="file" name="">
								</span>
							</span>
						</div><!-- /.input-group -->
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-success">Publicar</button>
						<button class="btn btn-danger">Cancelar</button>
					</div>
				</div><!-- /.col-sm-4 -->
			</div><!-- /.row -->
		</form>
	</div><!-- /.the-box no-border -->
